<a href="https://colab.research.google.com/github/Nilanjan1210/Python-Programming-Basics-to-Advanced/blob/main/1_Introduction_And_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
## This is a single line comment
"""This
is
Multiline
comment"""

print("Hello World")

Hello World

In [2]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [3]:
## Multiple Statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [4]:
# variable assignment
age=25 # age is an integer
name="Nilanjan" # name is a string
print(type(age))
print(type(name))

<class 'int'>
<class 'str'>

### Indentation
Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [5]:
name = 'nilanjan'
if name == "nilanjan":
  print(name)
else:
  print("not found")

nilanjan

### Variables
Variable is a name given to a value. Variables are used to store and manipulate data in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [6]:
## Declaring And Assigning Variables

name="Nilanjan"
age=25
height=6.1
is_student=True

## printing the variables
print("Name:",name)
print("age :",age)
print("Height:",height)

Name: Nilanjan
age : 25
Height: 6.1

In [7]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="Nilanjan"
last_name="Samanta"
print(first_name, last_name)

Nilanjan Samanta

In [8]:
# Invalid variable names
# 2age=30
# first-name="Nilanjan"
## @name="Nilanjan"

In [9]:
## case sensitivity
name="Nilanjan"
Name="Samanta"
print(name,Name)
print(name==Name)

Nilanjan Samanta
False

In [10]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
hight=6.1 #float
name="Nilanjan" #str
is_student=True #bool

## Type Checking
print(type(name))
print(type(age))
print(type(hight))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [11]:
age="25"
print(age,type(age))
age=int(age)
print(age,type(age))
age=str(age)
print(age,type(age))

25 <class 'str'>
25 <class 'int'>
25 <class 'str'>

In [12]:
name="Nilanjan"
try :
  int(name)
except Exception as e:
  print(e)

invalid literal for int() with base 10: 'Nilanjan'

In [13]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [14]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 25
Enter second number: 7
Sum: 32.0
Difference: 18.0
Product: 175.0
Quotient: 3.5714285714285716

### Print and Input Function

- The print() function in Python is used to output text or value to the screen. It can take multiple arguments which are separated by comma.

- We can get input from user the input() function. The input() function returns a string value represent the user's input.

In [15]:

# Printing a single value (string)
print("Hello World")

# Printing multiple values (integers) separated by default space
a = 1
b = 2
c = 3
print(a, b, c)

# The print() function has several optional arguments:

# sep: Specifies the separator between the arguments. Default is a space.
print(a, b, c, sep='-')

# end: Specifies what to print at the end. Default is a newline character (\n).
print(a, end=' ')
print(b) # Output: 1 2 (prints 1 followed by a space, then 2 on the same line)

# Printing different data types
print("Integer:", age)
print("Float:", 6.1)
print("Boolean:", True)
print("List:", [1, 2, 3])
print("Dictionary:", {"a": 1, "b": 2})

Hello World
1 2 3
1-2-3
1 2
Integer: 25
Float: 6.1
Boolean: True
List: [1, 2, 3]
Dictionary: {'a': 1, 'b': 2}

In [16]:
user_input = input("Enter your name: ")
print("Hello,", user_input)
print(type(user_input))

Enter your name: nilanjan
Hello, nilanjan
<class 'str'>

In [17]:
int_input = input("Enter an integer: ")
print("You entered:", int_input)
print(type(int_input))
# type conversion str to int
int_input = int(int_input)
print(type(int_input))

Enter an integer: 25
You entered: 25
<class 'str'>
<class 'int'>

### Type function
- The type() function is used to determine the data type of a variable or a value.

In [18]:
# String data type
name = 'Nilanjan'
print(type(name))

<class 'str'>

### Data Types
Python has several built-in data types including...
- **Integer** : Whole numbers e.g. 1,2,3
- **Float** : Decimal numbers e.g 3.14, 0.5
- **String** : Sequence of character e.g. 'Hello', "Nilanjan". String can be enclosed in single or double quotes.
- **Boolean** : A logical value that can be either *True* or *False*.
- **List** : An order collection of items e.g. [1,2,3] , ['a','b','c']
- **Tuple** : Ordered, immutable collectio of items e.g. (1,2,3), ('a','b','c')
- **Dictionary** : Unorder collection of key-value pairs e.g. {'name':'Nilanjan', 'age':25}
- **Complex Number**: Number with real and imaginary parts e.g. 3+4j, 2+5j
- **Set** : Unorder collectio of unique items e.g. {1,2,3}, {'a','b','c'}
-  **Frozenset** : Immutable sets e.g. forzenset({1,2})
- **Bytes** : Sequence of integer in the range 0 <= x < 256 e.g. b'hello'
- **ByteArray** : Mutable sequence of integers in the range 0 <= x <256 e.g. bytearray(b'Hello')
- **MemoryView** : A view into an existing buffer e.g. memoryview(b'hello')

In [19]:
# Integer
my_integer = 10
print("Data:", my_integer)
print("Type:", type(my_integer))

Data: 10
Type: <class 'int'>

In [20]:
# Float
my_float = 3.14
print("Data:", my_float)
print("Type:", type(my_float))

Data: 3.14
Type: <class 'float'>

In [21]:
# String
my_string = "Hello Python"
print("Data:", my_string)
print("Type:", type(my_string))

Data: Hello Python
Type: <class 'str'>

In [22]:
# Boolean
my_boolean = True
print("Data:", my_boolean)
print("Type:", type(my_boolean))

Data: True
Type: <class 'bool'>

In [23]:
# List
my_list = [1, 2, 3, 'a', 'b']
print("Data:", my_list)
print("Type:", type(my_list))

Data: [1, 2, 3, 'a', 'b']
Type: <class 'list'>

In [24]:
# Tuple
my_tuple = (1, 2, 3, 'a', 'b')
print("Data:", my_tuple)
print("Type:", type(my_tuple))

Data: (1, 2, 3, 'a', 'b')
Type: <class 'tuple'>

In [25]:
# Dictionary
my_dict = {'name': 'Alice', 'age': 30}
print("Data:", my_dict)
print("Type:", type(my_dict))

Data: {'name': 'Alice', 'age': 30}
Type: <class 'dict'>

In [26]:
# Complex Number
my_complex = 2 + 3j
print("Data:", my_complex)
print("Type:", type(my_complex))

Data: (2+3j)
Type: <class 'complex'>

In [27]:
# Set
my_set = {1, 2, 3, 3, 4} # Sets store unique elements
print("Data:", my_set)
print("Type:", type(my_set))

Data: {1, 2, 3, 4}
Type: <class 'set'>

In [28]:
# Frozenset
my_frozenset = frozenset({1, 2, 3, 3, 4}) # Frozensets are immutable sets
print("Data:", my_frozenset)
print("Type:", type(my_frozenset))

Data: frozenset({1, 2, 3, 4})
Type: <class 'frozenset'>

In [29]:
# Bytes
my_bytes = b'hello'
print("Data:", my_bytes)
print("Type:", type(my_bytes))

Data: b'hello'
Type: <class 'bytes'>

In [30]:
# Bytearray
my_bytearray = bytearray(b'Hello')
print("Data:", my_bytearray)
print("Type:", type(my_bytearray))

Data: bytearray(b'Hello')
Type: <class 'bytearray'>

In [31]:
# Memoryview
my_memoryview = memoryview(b'hello world')
print("Data:", my_memoryview)
print("Type:", type(my_memoryview))

Data: <memory at 0x7b2e1f06e980>
Type: <class 'memoryview'>

### Type conversion
we can convert between different data type using various function such as -
- **int()** : Converts a value to an interger.
- **float()** : Converts a vlue to an float.
- **str()** : Converts a value to string.
- **list()** : Converts a value to list.
- **tuple()** : Converts a value to tuple.
- **set()** : Converts a  value to set.

In [32]:
# Convert integer to float
int_num = 18
float_num = float(int_num)
print(f"Integer: {int_num}, converted to float: {float_num} (Type: {type(float_num)})")

Integer: 18, converted to float: 18.0 (Type: <class 'float'>)

In [33]:
# Convert float to integer (truncates decimal part)
float_num_2 = 3.95
int_num_2 = int(float_num_2)
print(f"Float: {float_num_2}, converted to integer: {int_num_2} (Type: {type(int_num_2)})")

Float: 3.95, converted to integer: 3 (Type: <class 'int'>)

In [34]:
# Convert integer to string
int_num_3 = 18
str_num = str(int_num_3)
print(f"Integer: {int_num_3}, converted to string: {str_num} (Type: {type(str_num)})")

Integer: 18, converted to string: 18 (Type: <class 'str'>)

In [35]:
# Convert float to string
float_num_3 = 3.14
str_float = str(float_num_3)
print(f"Float: {float_num_3}, converted to string: {str_float} (Type: {type(str_float)})")

Float: 3.14, converted to string: 3.14 (Type: <class 'str'>)

In [36]:
# Convert string to integer (if the string represents an integer)
str_int = "123"
try:
  int_from_str = int(str_int)
  print(f"String: '{str_int}', converted to integer: {int_from_str} (Type: {type(int_from_str)})")
except ValueError as e:
  print(f"Cannot convert string '{str_int}' to integer: {e}")

String: '123', converted to integer: 123 (Type: <class 'int'>)

In [37]:
# Convert string to float (if the string represents a number)
str_float_2 = "3.14"
try:
  float_from_str = float(str_float_2)
  print(f"String: '{str_float_2}', converted to float: {float_from_str} (Type: {type(float_from_str)})")
except ValueError as e:
  print(f"Cannot convert string '{str_float_2}' to float: {e}")

String: '3.14', converted to float: 3.14 (Type: <class 'float'>)

In [38]:
# Convert list to tuple
my_list_to_tuple = [1, 2, 3, 4]
my_tuple_from_list = tuple(my_list_to_tuple)
print(f"List: {my_list_to_tuple}, converted to tuple: {my_tuple_from_list} (Type: {type(my_tuple_from_list)})")

List: [1, 2, 3, 4], converted to tuple: (1, 2, 3, 4) (Type: <class 'tuple'>)

In [39]:
# Convert tuple to list
my_tuple_to_list = (5, 6, 7)
my_list_from_tuple = list(my_tuple_to_list)
print(f"Tuple: {my_tuple_to_list}, converted to list: {my_list_from_tuple} (Type: {type(my_list_from_tuple)})")

Tuple: (5, 6, 7), converted to list: [5, 6, 7] (Type: <class 'list'>)

In [40]:
# Convert list to set (removes duplicates)
my_list_to_set = [1, 2, 2, 3, 4, 4, 5]
my_set_from_list = set(my_list_to_set)
print(f"List: {my_list_to_set}, converted to set: {my_set_from_list} (Type: {type(my_set_from_list)})")

List: [1, 2, 2, 3, 4, 4, 5], converted to set: {1, 2, 3, 4, 5} (Type: <class 'set'>)

In [41]:
# Convert set to list (order is not guaranteed)
my_set_to_list = {10, 20, 30}
my_list_from_set = list(my_set_to_list)
print(f"Set: {my_set_to_list}, converted to list: {my_list_from_set} (Type: {type(my_list_from_set)})")

Set: {10, 20, 30}, converted to list: [10, 20, 30] (Type: <class 'list'>)

In [42]:
# Convert string to list of characters
my_string_to_list = "Nilanjan"
my_list_from_string = list(my_string_to_list)
print(f"String: '{my_string_to_list}', converted to list: {my_list_from_string} (Type: {type(my_list_from_string)})")

String: 'Nilanjan', converted to list: ['N', 'i', 'l', 'a', 'n', 'j', 'a', 'n'] (Type: <class 'list'>)

In [43]:
# Convert string to tuple of characters
my_string_to_tuple = "Nilanjan"
my_tuple_from_string = tuple(my_string_to_tuple)
print(f"String: '{my_string_to_tuple}', converted to tuple: {my_tuple_from_string} (Type: {type(my_tuple_from_string)})")

String: 'Nilanjan', converted to tuple: ('N', 'i', 'l', 'a', 'n', 'j', 'a', 'n') (Type: <class 'tuple'>)

In [44]:
# Convert iterable (like list or tuple) to set
my_iterable_to_set = [1, 1, 2, 3, 'a', 'a']
my_set_from_iterable = set(my_iterable_to_set)
print(f"Iterable: {my_iterable_to_set}, converted to set: {my_set_from_iterable} (Type: {type(my_set_from_iterable)})")

Iterable: [1, 1, 2, 3, 'a', 'a'], converted to set: {'a', 1, 2, 3} (Type: <class 'set'>)