<a href="https://colab.research.google.com/github/Nilanjan1210/Python-Programming-Basics-to-Advanced/blob/main/2_Operators.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arithmetic Operators

In [1]:
num1 = 59
num2 = 7

# Addition
sum_result = num1 + num2
print("Sum:", sum_result)

Sum: 66

In [2]:
# Subtraction
difference_result = num1 - num2
print("Difference:", difference_result)

Difference: 52

In [3]:
# Multiplication
product_result = num1 * num2
print("Product:", product_result)

Product: 413

In [4]:

# Division
division_result = num1 / num2
print("Division:", division_result)

Division: 8.428571428571429

In [5]:
# Floor Division
floor_division_result = num1 // num2
print("Floor Division:", floor_division_result)

Floor Division: 8

In [6]:
# Modulo
modulo_result = num1 % num2
print("Modulo:", modulo_result)

Modulo: 3

In [7]:
# Exponentiation
exponentiation_result = num1 ** num2
print("Exponentiation:", exponentiation_result)

Exponentiation: 2488651484819

### Operator Precedence (Order of Operations):
 1. Parentheses ()
 2. Exponentiation **
 3. Multiplication *, Division /, Floor Division //, Modulo % (from left to right)
 4. Addition +, Subtraction - (from left to right)

In [8]:
# Example demonstrating order of operations
expression_result = 10 + 5 * 2 - 6 / 3
print("Expression 1 Result:", expression_result)
# 18.0 (5 * 2 is 10, 6 / 3 is 2, 10 + 10 - 2 is 18)

another_expression = (10 + 5) * 2 - 6 / 3
print("Expression 2 Result:", another_expression)
# 28.0 ((10 + 5) is 15, 15 * 2 is 30, 6 / 3 is 2, 30 - 2 is 28)

Expression 1 Result: 18.0
Expression 2 Result: 28.0

# Relational Operators
- Relational Operators (Comparison Operators)
- These operators are used to compare two values and return a boolean result (True or False).
- These operators are commonly used in conditional statements (like if statements) and loops.

In [9]:
a = 10
b = 20

# Equal to (==)
print("a == b:", a == b)

a == b: False

In [10]:

# Not equal to (!=)
print("a != b:", a != b)

a != b: True

In [11]:
# Greater than (>)
print("a > b:", a > b)

a > b: False

In [12]:
# Less than (<)
print("a < b:", a < b)

a < b: True

In [13]:
# Greater than or equal to (>=)
print("a >= b:", a >= b)

a >= b: False

In [14]:
# Less than or equal to (<=)
print("a <= b:", a <= b)

a <= b: True

# Bitwise Operators
- These operators perform operations on the individual bits of integers.
- They are often used in low-level programming, data compression, and cryptography.

In [15]:
x = 10  # Binary: 1010
y = 4   # Binary: 0100

# Bitwise AND (&)
# 1010
# & 0100
# ----
# 0000 (Decimal 0)
and_result = x & y
print("Bitwise AND:", and_result)

Bitwise AND: 0

In [16]:
# Bitwise OR (|)
# 1010
# | 0100
# ----
# 1110 (Decimal 14)
or_result = x | y
print("Bitwise OR:", or_result)

Bitwise OR: 14

In [17]:
# Bitwise XOR (^)
# 1010
# ^ 0100
# ----
# 1110 (Decimal 14)
xor_result = x ^ y
print("Bitwise XOR:", xor_result)

Bitwise XOR: 14

In [18]:
# Bitwise NOT (~) - Inverts all bits (depends on the integer's representation)
# For positive numbers, it's often calculated as -(x + 1)
not_result_x = ~x
print("Bitwise NOT (x):", not_result_x) # Output will be -11 for 10

Bitwise NOT (x): -11

In [19]:
# Left Shift (<<) - Shifts bits to the left, equivalent to multiplying by 2^n
# 1010 << 2 becomes 101000 (Decimal 40)
left_shift_result = x << 2
print("Left Shift:", left_shift_result)

Left Shift: 40

In [20]:
# Right Shift (>>) - Shifts bits to the right, equivalent to dividing by 2^n (integer division)
# 1010 >> 1 becomes 0101 (Decimal 5)
right_shift_result = x >> 1
print("Right Shift:", right_shift_result)

Right Shift: 5

# Logical Operators
- These operators are used to combine conditional statements.
- They are fundamental for controlling the flow of a program in conditional statements and loops.

In [21]:
is_sunny = True
is_warm = False

# Logical AND (and)
# Returns True if both operands are True.
print("is_sunny and is_warm:", is_sunny and is_warm)

is_sunny and is_warm: False

In [22]:
# Logical OR (or)
# Returns True if at least one operand is True.
print("is_sunny or is_warm:", is_sunny or is_warm)

is_sunny or is_warm: True

In [23]:
# Logical NOT (not)
# Reverses the logical state of the operand.
print("not is_sunny:", not is_sunny)
print("not is_warm:", not is_warm)

not is_sunny: False
not is_warm: True

In [24]:
temperature = 30

if temperature > 25 or is_sunny:
  print("It's a nice day for outdoor activities.")
else:
  print("Maybe stay inside.")

It's a nice day for outdoor activities.

In [25]:
# Combining Logical and Relational Operators
age = 25
has_license = True

if age >= 18 and has_license:
  print("You can drive.")
else:
  print("You cannot drive.")

You can drive.

In [26]:
is_raining = False

if not is_raining:
  print("It's not raining.")
else:
  print("It's raining.")

It's not raining.

# Assignment Operators

In [27]:
# Simple assignment
a = 10
print("a =", a)

a = 10

In [28]:
# Add and assign
a = 10
a += 5  # Equivalent to a = a + 5
print("a after += 5:", a)

a after += 5: 15

In [29]:
# Subtract and assign
a -= 3  # Equivalent to a = a - 3
print("a after -= 3:", a)

a after -= 3: 12

In [30]:
# Multiply and assign
a *= 2  # Equivalent to a = a * 2
print("a after *= 2:", a)

a after *= 2: 24

In [31]:
# Divide and assign
a /= 4  # Equivalent to a = a / 4
print("a after /= 4:", a)

a after /= 4: 6.0

In [32]:
# Floor divide and assign
b = 20
b //= 3 # Equivalent to b = b // 3
print("b =", b)

b = 6

In [33]:
# Modulo and assign
b %= 2 # Equivalent to b = b % 2
print("b after %= 2:", b)

b after %= 2: 0

In [34]:
# Exponentiate and assign
c = 3
c **= 4 # Equivalent to c = c ** 4
print("c =", c)

c = 81

In [35]:
# Bitwise AND and assign
x = 10 # Binary: 1010
x &= 3 # Binary: 0011 -> 0010 (2)
print("x after &= 3:", x)

x after &= 3: 2

In [36]:
# Bitwise OR and assign
y = 12 # Binary: 1100
y |= 5 # Binary: 0101 -> 1101 (13)
print("y after |= 5:", y)

y after |= 5: 13

In [37]:
# Bitwise XOR and assign
z = 15 # Binary: 1111
z ^= 6 # Binary: 0110 -> 1001 (9)
print("z after ^= 6:", z)

z after ^= 6: 9

In [38]:
# Bitwise right shift and assign
p = 16 # Binary: 10000
p >>= 2 # Shift right by 2: 00100 (4)
print("p after >>= 2:", p)

p after >>= 2: 4

In [39]:
# Bitwise left shift and assign
q = 4 # Binary: 00100
q <<= 3 # Shift left by 3: 10000 (16)
print("q after <<= 3:", q)

q after <<= 3: 32

# Compound Operators

Compound Operators in Python are use to perform an operation on a variable and them assign the result back to the same variable.

In [40]:
# Add and assign
a = 5
a += 5  # Equivalent to a = a + 5
print("a after += 5:", a)

# Subtract and assign
a -= 3  # Equivalent to a = a - 3
print("a after -= 3:", a)

a after += 5: 10
a after -= 3: 7

# Membership Operators
Membership operators are used to test whether a value or variable is found in a sequence (string, list, tuple, set, and dictionary).

In [41]:
my_list = [1, 2, 3, 4, 5]
my_string = "hello world"
my_dict = {"a": 1, "b": 2}

# The 'in' operator checks if a value is present in the sequence.
print(3 in my_list)
print("h" in my_string)
print("z" in my_string)
print("a" in my_dict)     # Checks for key in dictionary.
print(1 in my_dict)

True
True
False
True
False

In [42]:
# The 'not in' operator checks if a value is NOT present in the sequence.
print(6 not in my_list)
print("x" not in my_string)
print("h" not in my_string)
print("c" not in my_dict)  # Checks for key in dictionary.
print(2 not in my_dict)    # Checks for key in dictionary.

True
True
False
True
True

# Identity Operators
- Identity operators are used to compare the memory locations of two objects.
- They check if two variables refer to the **same** object in memory.

In [43]:
# 'is' operator: Returns True if both variables point to the same object, False otherwise.
x = [1, 2, 3]
y = [1, 2, 3]
z = x

print("x is y:", x is y) # False (x and y have the same content but are different objects)
print("x is z:", x is z) # True (z is a reference to the same object as x)

# 'is not' operator: Returns True if both variables do *not* point to the same object, False otherwise.
print("x is not y:", x is not y) # True
print("x is not z:", x is not z) # False

x is y: False
x is z: True
x is not y: True
x is not z: False

In [44]:
# Example with immutable types (like integers and strings)
a = 10
b = 10
c = 20

print("a is b:", a is b) # True (Python often interns small integers, making them the same object)
print("a is c:", a is c) # False

a is b: True
a is c: False

In [45]:
str1 = "hello"
str2 = "hello"
str3 = "world"

print("str1 is str2:", str1 is str2) # True (Python often interns small strings)
print("str1 is str3:", str1 is str3) # False

str1 is str2: True
str1 is str3: False

**Note: For mutable objects (like lists and dictionaries), 'is' checks if they are literally the same object in memory,while '==' checks if they have the same value.**

- used is to check for identity of objects and == check for equality of value.
- Be aware of the different between == and is to avoid unexpected behaviour.
- Use "is" to check for None instead of == None

In [46]:
list1 = [1, 2]
list2 = [1, 2]
print("list1 == list2:", list1 == list2) # True (same value)
print("list1 is list2:", list1 is list2) # False (different objects)

list1 == list2: True
list1 is list2: False

In [47]:
my_variable = None
if my_variable is None:
    print("my_variable is None")
else:
    print("my_variable is not None")

my_variable is None