<a href="https://colab.research.google.com/github/Nilanjan1210/Python-Programming-Basics-to-Advanced/blob/main/7_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionary
In Python, a dictionary is a collection of key-value pairs. Each key is unique, and it maps to a value. Dictionaries are unordered  and mutable, meaning we can add, remove, or change items.

- Keys are unique and immutable (e.g., strings, numbers, tuples)

- Values can be any data type

- Mutable (can be changed)

- Defined using curly braces { }

In [1]:
# Using Curly Braces {}
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
print(student)
print(type(student))

{'name': 'Nilanjan', 'age': 25, 'grade': 'A'}
<class 'dict'>

In [2]:
# Using the dict() Function
student = dict(name="Nilanjan", age=25, grade="A")
print(student)
print(type(student))

{'name': 'Nilanjan', 'age': 25, 'grade': 'A'}
<class 'dict'>

In [3]:
# Creating an Empty Dictionary and Adding Items
student = {}
student["name"] = "Nilanjan"
student["age"] = 25
student["grade"] = "A"
print(student)

{'name': 'Nilanjan', 'age': 25, 'grade': 'A'}

# Access Elements in a Dictionary
- We can access values in a dictionary using their keys.
- Using the get() Method

In [4]:
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
print(student["name"]) # Nilanjan
print(student["age"]) # 25
print(student["grade"]) # A

Nilanjan
25
A

In [5]:
# Using the get() Method
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
print(student.get("name")) # Nilanjan

Nilanjan

In [6]:
# key don't benog the dictionary
print(student.get("school"))  # None
try:
  print(student['school']) # raise KeyError
except KeyError:
  print("Error: Key not found")

None
Error: Key not found

# Dictionary Methods

In [7]:
# ## keys()
# - Returns a view object that displays a list of all the keys in the dictionary.
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
keys = student.keys()
print(keys)  # dict_keys(['name', 'age', 'grade'])

dict_keys(['name', 'age', 'grade'])

In [8]:
# ## values()
# - Returns a view object that displays a list of all the values in the dictionary.
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
values = student.values()
print(values)

dict_values(['Nilanjan', 25, 'A'])

In [9]:
# ## items()
# - Returns a view object that displays a list of a dictionary's key-value tuple pairs.
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
items = student.items()
print(items)

dict_items([('name', 'Nilanjan'), ('age', 25), ('grade', 'A')])

In [10]:
# ## update()
# - Updates the dictionary with the elements from another dictionary object or from an iterable of key-value pairs.
student = {
    "name": "Nilanjan",
    "age": 25
}
student.update({"grade": "A", "city": "Kolkata"})
print(student)

{'name': 'Nilanjan', 'age': 25, 'grade': 'A', 'city': 'Kolkata'}

In [11]:
# ## pop()
# - Removes the item with the specified key and returns its value.
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
grade = student.pop("grade")
print(grade)  # A
print(student)  # {'name': 'Nilanjan', 'age': 25}
# pop with default value if key not found
try:
  city = student.pop("city")
  print(city)
except KeyError:
  print('Error: Key not found')
# when not found then return "Unknown"
city = student.pop("city", "Unknown")
print(city) # Unknown

A
{'name': 'Nilanjan', 'age': 25}
Error: Key not found
Unknown

In [12]:
# ## popitem()
# - Removes the last inserted key-value pair and returns it as a tuple. (In versions before 3.7, it removes a random item.)
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
item = student.popitem()
print(item)  # ('grade', 'A')
print(student)  # {'name': 'Nilanjan', 'age': 25}

('grade', 'A')
{'name': 'Nilanjan', 'age': 25}

In [13]:
# ## clear()
# - Removes all the elements from the dictionary.
student = {
    "name": "Nilanjan",
    "age": 25,
    "grade": "A"
}
student.clear()
print(student)  # {}

{}

In [14]:
# ## copy()
# - Returns a shallow copy of the dictionary.
student = {
    "name": "Nilanjan",
    "age": 25
}
student_copy = student.copy()
print(student_copy)  # {'name': 'Nilanjan', 'age': 25}

{'name': 'Nilanjan', 'age': 25}

In [15]:
# ## fromkeys()
# - Creates a new dictionary with keys from an iterable and values set to a specified value (default is None).
keys = ["name", "age", "grade"]
student = dict.fromkeys(keys, "Unknown")
print(student)  # {'name': 'Unknown', 'age': 'Unknown', 'grade': 'Unknown'}

{'name': 'Unknown', 'age': 'Unknown', 'grade': 'Unknown'}

In [16]:
# ## setdefault()
# - Returns the value of the item with the specified key. If the key does not exist, insert the key, with the specified value.
student = {
    "name": "Nilanjan",
    "age": 25
}
grade = student.setdefault("grade", "A")
print(grade)
print(student) # {'name': 'Nilanjan', 'age': 25, 'grade': 'A'}
city = student.setdefault("city", "Kolkata")
print(city)
print(student) # {'name': 'Nilanjan', 'age': 25, 'grade': 'A', 'city': 'Kolkata'}

A
{'name': 'Nilanjan', 'age': 25, 'grade': 'A'}
Kolkata
{'name': 'Nilanjan', 'age': 25, 'grade': 'A', 'city': 'Kolkata'}

# Dictionary Comprehension

Dictionary comprehension is a concise way to create dictionaries using a single line of code, similar to list comprehension but using key-value pairs.

Basic Syntax:
```
{key_expression: value_expression for item in iterable}

```

In [17]:
#  Create a Dictionary of Squares
squares = {x: x**2 for x in range(5)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [18]:
# Convert Two Lists into a Dictionary
keys = ["name", "age", "grade"]
values = ["Nilanjan", 25, "A"]
student = {keys[i]: values[i] for i in range(len(keys))}
print(student)

{'name': 'Nilanjan', 'age': 25, 'grade': 'A'}

In [19]:
# Swap Keys and Values
original = {'a': 1, 'b': 2, 'c': 3}
swapped = {v: k for k, v in original.items()}
print(swapped)  # Output: {1: 'a', 2: 'b', 3: 'c'}

{1: 'a', 2: 'b', 3: 'c'}