<a href="https://colab.research.google.com/github/Nilanjan1210/Python-Programming-Basics-to-Advanced/blob/main/8_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple
A tuple in Python is an ordered, immutable (unchangeable) collection of elements. It is used to store multiple items in a single variable, just like a list, but once created, you cannot modify (add, remove, or change) its elements.

In [1]:
# A tuple is defined using round brackets ()
my_tuple = (1, 2, 3, 'apple', 'banana')
print(my_tuple)
print(type(my_tuple))

(1, 2, 3, 'apple', 'banana')
<class 'tuple'>

In [2]:
# we can also create a tuple without parentheses using commas:
my_tuple = 1, 2, 3
print(my_tuple)
print(type(my_tuple))

(1, 2, 3)
<class 'tuple'>

In [3]:
# To create an empty tuple, we can use the `tuple()` constructor or empty parentheses `()`:
empty_tuple = tuple()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [4]:
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [5]:
# We can also convert other iterables (like lists, strings, etc.) to tuples using the `tuple()` function:
my_list = [1, 2, 3, 4]
list_to_tuple = tuple(my_list)
print(list_to_tuple)

(1, 2, 3, 4)

In [6]:
my_string = "hello"
string_to_tuple = tuple(my_string)
string_to_tuple

('h', 'e', 'l', 'l', 'o')

In [7]:
# For a single-item tuple, you must add a comma:
single_item = (5,)  # This is a tuple
print(single_item)
print(type(single_item))
not_a_tuple = (5)   # This is just an integer
print(not_a_tuple)
print(type(not_a_tuple))

(5,)
<class 'tuple'>
5
<class 'int'>

# Tuple Packing and Unpacking

In [8]:
# # Tuple Packing
# Packing is creating a tuple from a sequence of values.
packed_tuple = 10, 20, 30  # This automatically creates a tuple
print("Packed tuple:", packed_tuple,"Type of Packed Tuple" ,type(packed_tuple))

# # Tuple Unpacking
# Unpacking is the process of extracting values from a tuple and assigning them to individual variables.
# The number of variables on the left side must match the number of elements in the tuple.
a, b, c = packed_tuple
print("Unpacked variables:")
print("a:", a)
print("b:", b)
print("c:", c)

Packed tuple: (10, 20, 30) Type of Packed Tuple <class 'tuple'>
Unpacked variables:
a: 10
b: 20
c: 30

In [9]:
# Example with a different tuple
student_info = ("Nilanjan", 25, "Statistics")
name, age, major = student_info
print("Student Info Unpacked:")
print("Name:", name)
print("Age:", age)
print("Major:", major)

Student Info Unpacked:
Name: Nilanjan
Age: 25
Major: Statistics

In [10]:
# Using the asterisk (*) to unpack partially (for the rest of the elements)
numbers = (1, 2, 3, 4, 5, 6)
first, *rest, last = numbers
print("Partial Unpacking:")
print("First:", first)
print("Rest:", rest) # 'rest' will be a list containing the remaining elements
print("Last:", last)

Partial Unpacking:
First: 1
Rest: [2, 3, 4, 5]
Last: 6

# Indexing and Slicing
- Tuple indexing allows you to access individual elements in a tuple using their position (index). Indexing in Python starts at 0, meaning the first item is at index 0, the second at index 1, and so on.
- Python also supports negative indexing, where -1 refers to the last item, -2 to the second last, etc.

In [11]:

# Original tuple for indexing examples
my_tuple_indexing = (10, 20, 30, 'apple', 'banana', 40, 50)

# Accessing elements using positive indexing
print("Element at index 0:", my_tuple_indexing[0]) # 10
print("Element at index 3:", my_tuple_indexing[3]) # apple

# Accessing elements using negative indexing
print("Element at index -1 (last element):", my_tuple_indexing[-1]) # 50
print("Element at index -4:", my_tuple_indexing[-4]) # apple

Element at index 0: 10
Element at index 3: apple
Element at index -1 (last element): 50
Element at index -4: apple

In [12]:
# Slicing
# Slicing allows you to access a range of elements from a tuple.
# It is done using the slicing syntax: [start:stop:step]
# - start: The index where the slice begins (inclusive). If omitted, it defaults to the beginning of the tuple.
# - stop: The index where the slice ends (exclusive). If omitted, it defaults to the end of the tuple.
# - step: The step size for the slice (optional). If omitted, it defaults to 1.

# Original tuple for slicing examples
my_tuple_slicing = (10, 20, 30, 'apple', 'banana', 40, 50, 60, 70)

In [13]:
# Slice from index 2 to index 5 (exclusive of 5)
print("Slice from index 2 to 5:", my_tuple_slicing[2:5]) # (30, 'apple', 'banana')

Slice from index 2 to 5: (30, 'apple', 'banana')

In [14]:
# Slice from the beginning to index 4 (exclusive of 4)
print("Slice from beginning to index 4:", my_tuple_slicing[:4]) # (10, 20, 30, 'apple')

Slice from beginning to index 4: (10, 20, 30, 'apple')

In [15]:
# Slice from index 5 to the end
print("Slice from index 5 to end:", my_tuple_slicing[5:]) # (40, 50, 60, 70)

Slice from index 5 to end: (40, 50, 60, 70)

In [16]:
# Slice the entire tuple
print("Slice of the entire tuple:", my_tuple_slicing[:]) # (10, 20, 30, 'apple', 'banana', 40, 50, 60, 70)

Slice of the entire tuple: (10, 20, 30, 'apple', 'banana', 40, 50, 60, 70)

In [17]:
# Slice with a step of 2
print("Slice with step 2:", my_tuple_slicing[::2]) # (10, 30, 'banana', 60)

Slice with step 2: (10, 30, 'banana', 50, 70)

In [18]:
# Slice from index 1 to 7 with a step of 3
print("Slice from 1 to 7 with step 3:", my_tuple_slicing[1:7:3]) # (20, 'banana')

Slice from 1 to 7 with step 3: (20, 'banana')

In [19]:
# Reverse the tuple using slicing
print("Reversed tuple:", my_tuple_slicing[::-1]) # (70, 60, 50, 40, 'banana', 'apple', 30, 20, 10)

Reversed tuple: (70, 60, 50, 40, 'banana', 'apple', 30, 20, 10)

# Tuple Concatenation

In [20]:
tuple1 = (1, 2, 3)
tuple2 = ('a', 'b', 'c')
concatenated_tuple = tuple1 + tuple2
print("Concatenated tuple:", concatenated_tuple)

# You can concatenate any number of tuples
tuple3 = (4, 5)
another_concatenated_tuple = tuple1 + tuple2 + tuple3
print("Another concatenated tuple:", another_concatenated_tuple)

Concatenated tuple: (1, 2, 3, 'a', 'b', 'c')
Another concatenated tuple: (1, 2, 3, 'a', 'b', 'c', 4, 5)

# Tuple Methods

In [21]:
# count()
# This method returns the number of times a specified value occurs in a tuple.
my_tuple_count = (1, 5, 2, 7, 5, 3, 5, 8)
count_of_5 = my_tuple_count.count(5)
print(f"The number 5 appears {count_of_5} times in the tuple.")
count_of_10 = my_tuple_count.count(10)
print(f"The number 10 appears {count_of_10} times in the tuple.")

The number 5 appears 3 times in the tuple.
The number 10 appears 0 times in the tuple.

In [22]:
# index()
# This method searches the tuple for a specified value and returns the position (index) of the first occurrence.
# If the value is not found, it raises a ValueError.
my_tuple_index = (10, 20, 30, 40, 20, 50)
index_of_30 = my_tuple_index.index(30)
print(f"The first occurrence of 30 is at index: {index_of_30}")
# You can optionally specify a start and end index to search within a specific slice.
index_of_20_after_index_2 = my_tuple_index.index(20,3) # Search for 20 starting from index 3
print(f"The first occurrence of 20 after index 2 is at index: {index_of_20_after_index_2}")

The first occurrence of 30 is at index: 2
The first occurrence of 20 after index 2 is at index: 4

In [23]:
my_tuple_index = (10, 20, 30, 40, 20, 50)
try:
    my_tuple_index.index(100)
except ValueError as e:
    print(e)

tuple.index(x): x not in tuple

# Tuple Comperhension

Python does not have something called **tuple comprehension** in the same way it has **list comprehensions**.

In [24]:
t = (x for x in range(5))
#  we're actually creating a generator object, not a tuple.
print(t)
# Use a list comprehension inside the tuple() constructor
print(tuple(t))

<generator object <genexpr> at 0x7c6192ea2740>
(0, 1, 2, 3, 4)