<a href="https://colab.research.google.com/github/Nilanjan1210/Python-Programming-Basics-to-Advanced/blob/main/9_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Set

A set is an unordered collection of unique elements.

In [1]:
# Using curly braces {}
my_set = {1, 2, 3, 4, 5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [2]:
# Using the set() constructor
my_set_constructor = set([6, 7, 8, 9, 10])
print(my_set_constructor)
print(type(my_set_constructor))

{6, 7, 8, 9, 10}
<class 'set'>

# Set Methods

In [3]:
# add() : Adds an element to the set.

my_set = {1, 2, 3, 4, 5}
print(my_set)
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6}

In [4]:
#  remove() : Removes an element from the set. Raises a KeyError if the element is not found.
print(my_set)
my_set.remove(6)
print(my_set)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5}

In [5]:
# discard() : Removes an element from the set if it is present. Does not raise an error if the element is not found.
print(my_set)
my_set.discard(100) # Does nothing
print(my_set)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [6]:
# pop() : Removes and returns an arbitrary element from the set. Raises a KeyError if the set is empty.
print(my_set)
popped_element = my_set.pop()
print(f"Popped element: {popped_element}")
print(my_set)

{1, 2, 3, 4, 5}
Popped element: 1
{2, 3, 4, 5}

In [7]:
# clear() : Removes all elements from the set.
print(my_set)
my_set.clear()
print(my_set)

{2, 3, 4, 5}
set()

In [8]:
# union() : Returns a new set containing all elements from both sets.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [9]:
# intersection() : Returns a new set containing elements common to both sets.
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [10]:
# difference() : Returns a new set containing elements in the first set but not in the second.
difference_set = set1.difference(set2)
print(difference_set)

{1, 2}

In [11]:
# symmetric_difference() : Returns a new set containing elements in either set, but not both.
symmetric_difference_set = set1.symmetric_difference(set2)
print(symmetric_difference_set)

{1, 2, 4, 5}

In [12]:
# issubset() : Returns True if all elements of one set are in another set.
print(set1.issubset({1, 2, 3, 4, 5}))

True

In [13]:
# issuperset(): Returns True if all elements of another set are in this set.
print({1, 2, 3, 4, 5}.issuperset(set1))

True

In [14]:
# isdisjoint() : Returns True if the set has no elements in common with another set.
set3 = {6, 7}
print(set1.isdisjoint(set3))

True

In [15]:
# update(): Updates the set with elements from another iterable.
set1.update({4, 5})
print(set1)

{1, 2, 3, 4, 5}

In [16]:
# intersection_update() : Updates the set with the intersection of itself and another iterable.
set1.intersection_update({4, 5, 6})
print(set1)

{4, 5}

In [17]:
# difference_update(): Updates the set with the difference of itself and another iterable.
set1 = {1, 2, 3, 4, 5}
set1.difference_update({4, 5, 6})
print(set1)

{1, 2, 3}

In [18]:
# symmetric_difference_update() : Updates the set with the symmetric difference of itself and another iterable.
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.symmetric_difference_update(set2)
set1

{1, 2, 5, 6}

# Frozensets:
Frozensets are immutable sets.

In [19]:
# Creating a frozenset
my_frozenset = frozenset([1, 2, 3, 4, 5])
print(my_frozenset)
print(type(my_frozenset))

frozenset({1, 2, 3, 4, 5})
<class 'frozenset'>

In [20]:
# Frozensets support methods that do not modify the set
frozenset1 = frozenset({1, 2, 3})
frozenset2 = frozenset({3, 4, 5})

# union()
print(frozenset1.union(frozenset2))

frozenset({1, 2, 3, 4, 5})

In [21]:
# intersection()
print(frozenset1.intersection(frozenset2))

frozenset({3})

In [22]:
# difference()
print(frozenset1.difference(frozenset2))

frozenset({1, 2})

In [23]:
# symmetric_difference()
print(frozenset1.symmetric_difference(frozenset2))

frozenset({1, 2, 4, 5})

In [24]:
# issubset()
print(frozenset1.issubset({1, 2, 3, 4, 5}))

True

In [25]:
# issuperset()
print({1, 2, 3, 4, 5}.issuperset(frozenset1))

True

In [26]:
# isdisjoint()
frozenset3 = frozenset({6, 7})
print(frozenset1.isdisjoint(frozenset3))

True

In [27]:
# Frozensets do NOT support methods that modify the set (like add(), remove(), update())
# my_frozenset.add(6) # This would raise an AttributeError

In [28]:
try:
  my_frozenset.add(6)
except AttributeError as e:
  print(e)

'frozenset' object has no attribute 'add'