<a href="https://colab.research.google.com/github/Nilanjan1210/Python-Programming-Basics-to-Advanced/blob/main/python_coding_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. CONVERT CELSIUS TO FAHRENHEIT

In [1]:
def  celsius_to_fahrenheit(celsius):
  return (celsius * 9/5) + 32
print(celsius_to_fahrenheit(37),"F")

98.6 F

# 2. SWAP TWO VARIABLES

In [2]:
# Without using a temporary variable.
def swap_variables(a, b):
    return b, a
a = 10
b = 20
a, b = swap_variables(a, b)
print(a, b)

20 10

# 3. TRANSPOSE OF A MATRIX

In [3]:
def traspose_matrix(matrix):
  return list(map(list, zip(*matrix)))
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(matrix)
print(traspose_matrix(matrix))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

# 4. CAPITALIZE A STRING

In [4]:
def capitalize_string(string):
  return string[0].upper() + string[1:]
string = "hello world"
print(capitalize_string(string))

Hello world

In [5]:
def capitalize_string(string):
  return string.title()
string = "hello world"
print(capitalize_string(string))

Hello World

# 5. FIND THE FRECUENCY OF CHARACTER IN A STRING

In [6]:
def character_frequency(string):
  # frequency = {}
  # for char in string:
  #   if char in frequency:
  #     frequency[char] += 1
  #   else:
  #     frequency[char] = 1
  # return frequency
  return {char: string.count(char) for char in string}
string = "hello world"
print(character_frequency(string))

{'h': 1, 'e': 1, 'l': 3, 'o': 2, ' ': 1, 'w': 1, 'r': 1, 'd': 1}

# 6. CHECK IF A NUMBER IS EVEN OR ODD

In [7]:
def is_even(number):
  return number % 2 == 0
print(is_even(2))
print(is_even(3))

True
False

# 7.  SIMPLE SUM

In [8]:
def addition(a,b):
  return a+b
print(addition(1,2))

3

# 8. PYRAMID PATTERN

In [9]:
def create_pyramid(n):
  for i in range(1, n+1):
    print(" " * (n-i) + "*" * (2*i-1))
create_pyramid(5)

    *
   ***
  *****
 *******
*********

# 9. REVERSE A STRING

In [10]:
def reverse(string):
  return string[::-1]
print(reverse("Nilanjan"))

najnaliN

# 10. CHECK IF ARRAY IS EMPTY

In [11]:
def is_empty(arr):
  return len(arr) == 0 and isinstance(arr, list) # To check it is array and not empty
array = [1,2,3]
print(is_empty(array))
arr_str = "Nilanjan"
print(is_empty(arr_str))

False
False

# 11. SHUFFLE AN ARRAY

In [12]:
import random

In [13]:
def suffle_array(arr):
  random.shuffle(arr)
  return arr
array = [1,2,3,4,5,6,7,8,9]
print(suffle_array(array))

[4, 6, 9, 3, 5, 8, 1, 7, 2]

# 12. COUNT TRUE VALUES IN BOOLEAN ARRAY

In [14]:
def count_true(arr):
  return sum(arr)
array = [True, False, True, True, False]
print("Number of true values:",count_true(array))

Number of true values: 3

# 13. GET THE LENGTH OF A STRING

In [15]:
def get_length(string):
  return len(string)
string = "Nilanjan"
print(get_length(string))

8

# 14. CALCULATE THE AREA OF A CIRCLE

In [16]:
import math
def calculate_circle_area(radius):
  return round(math.pi * radius**2,4)
print(calculate_circle_area(5))

78.5398

# 15. MOVE CAPITAL LETTERS TO FRONT


moves all
 capital letters in a word to the front of the
 word, preserving their original order, and
 followed by the lowercase letters

In [17]:
def cap_to_front(string):
  # capital_letters = ""
  # non_capital_letters = ""
  # for char in string:
  #   if char.isupper():
  #     capital_letters += char
  #   else:
  #     non_capital_letters += char
  # return capital_letters + non_capital_letters
  return "".join([char for char in string if char.isupper()] + [char for char in string if char.islower()])
string = "MoveCaptitalLettersToFront"
print(cap_to_front(string))

MCLTFoveaptitalettersoront

# 16. CHECK IF AN ARRAY IS SPECIAL

 An array is special, where every
 even index contains an even number and
 every odd index contains an odd number.

In [18]:
def is_special(arr):
  for i in range(len(arr)):
    if i % 2 == 0 and arr[i] % 2 != 0:
      return False
  return True
arr = [0, 1, 2, 3, 4, 5]
print(is_special(arr))
arr2 = [2, 3, 6, 8, 9]
print(is_special(arr2))

True
False

# 17. VALIDATE NUMBER WITHIN BOUNDS

 a number *n* is exclusively within
 the bounds of lower and upper

In [19]:
def within_bounds(n, lower, upper):
  return n >= lower and n < upper
print(within_bounds(5, 1, 10))
print(within_bounds(15, 1, 10))

True
False

# 18. GENERATE A RANDOM NUMBER WITHIN A RANGE

In [20]:
import random
def random_number(lower, upper):
  return random.randint(lower, upper)
print(random_number(1, 10))

6

# 19. GET THE LAST ELEMENT OF AN ARRAY

In [21]:
def get_last_element(arr):
  return arr[-1]
array = [1,2,3,4,5]
print(get_last_element(array))

5

# 20. CHECK IF ALL ELEMENTS IN AN ARRAY ARE THE SAME

In [22]:
def is_all_equal(arr):
  return len(set(arr)) == 1
array = [1,1,1,1,1]
print(is_all_equal(array))

True

# 21. SUM OF NUMBERS UP TO A GIVEN NUMBER
1 to the given numver integer value

In [23]:
def add_upto(num):
  # return sum(range(1, num+1))
  # return sum([i for i in range(1, num+1)])
  return num*(num +1) //2 # We konw that 1, 2, 3, ..., n sum is n*(n+1)/2
print(add_upto(5))

15

# 22.  SUM ALL NUMBERS IN AN ARRAY

In [24]:
def sum_array(arr):
  return sum(arr)
array = [1,6,9,7,5]
print(sum_array(array))

28

# 23. FIND THE MAXIMUM VALUE IN AN ARRAY

In [25]:
def find_max(arr):
  return max(arr)
array = [1,6,9,7,5]
print(find_max(array))

9

# 24. CALCULATE THE POWER OF A NUMBER

In [26]:
def power(base, exponent):
  return base ** exponent
print(power(2,3))

8

# 25. CONVERT STRING TO NUMBER

In [27]:
def str_to_num(string):
  return int(string)
string = "123"
print(str_to_num(string))

123

# 26. COUNT THE NUMBER OF WORDS IN A STRING

In [28]:
def count_words(string):
  return len(string.split())
string = "COUNT THE NUMBER OF WORDS IN A STRING"
print(count_words(string))

8

# 27. CHECK IF A STRING IS EMPTY

In [29]:
def is_empty_string(string):
  return string == ""
string = ""
print(is_empty_string(string))

True

# 28. SUM OF INDEX MULTIPLIED ELEMENTS

 the sum of all items in an array, where
 each item is multiplied by its index (zero
based). If the array is empty, it returns 0.

In [30]:
def index_multiply(arr):
  return sum([i*arr[i] for i in range(len(arr))])
array = [1,2,3,4,5]
print(index_multiply(array))

40

# 29. CHECK IF A NUMBER IS A MULTIPLE OF 5

In [31]:
def is_multiple_of_5(num):
  return num % 5 == 0
print(is_multiple_of_5(10))
print(is_multiple_of_5(152))

True
False

# 30. CHECK IF AN ARRAY CONTAINS A SPECIFIC VALUE

In [32]:
def contains_value(arr, value):
 return value in arr
array = [1,2,3,4,5]
print(contains_value(array, 3))

True

# 31.  CONVERT AN ARRAY TO A COMMA-SEPARATED STRING

In [33]:
def array_to_csv(arr):
  return ",".join(map(str, arr))
array = [1,2,3,4,5]
print(array_to_csv(array))

1,2,3,4,5

# 32. CHECK IF A YEAR IS A LEAP YEAR

In [34]:
def is_leap_year(year):
  return year % 4 == 0 and (year % 100 != 0 or year % 400 == 0)
print(is_leap_year(2100))
print(is_leap_year(2020))

False
True

# 33.  REMOVE A SPECIFIC ELEMENT FROM AN ARRAY

In [35]:
def remove_element(arr, value):
  return [i for i in arr if i != value]
array = [1,2,3,4,5]
print(remove_element(array, 3))

[1, 2, 4, 5]

# 34. TRUNCATE A STRING TO A GIVEN LENGTH

In [36]:
def truncate_string(s, max_length):
  return s[:max_length] + "..." if len(s) > max_length else s
string = "Nilanjan"
print(truncate_string(string, 4))

Nila...

# 35. CONVERT SECONDS TO MINUTES AND SECONDS

In [37]:
def SecsToMinsAndSecs(secs):
  # mins, secs = divmod(secs, 60)
  # return f"{mins:02}:{secs:02}"
  return f"{secs//60:02}:{secs%60:02}"
print(SecsToMinsAndSecs(122))

02:02

# 36. GENERATE A FIBONACCI SEQUENCE

In [38]:
def Fibonacci(n):
  return n if n <= 1 else Fibonacci(n-1) + Fibonacci(n-2)
def generate_fibonacci(n):
  return [Fibonacci(i) for i in range(n)]
print(generate_fibonacci(10))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# 37.  SPELL OUT A WORD
 The Spelling function takes a word as
 input and spells it out by consecutively
 adding letters until the full word is
 completed. It then returns an array
 containing each step of the spelling
 process.

In [39]:
def Spelling(word):
  return [word[:i] for i in range(1, len(word)+1)]
print(Spelling("Nilanjan"))

['N', 'Ni', 'Nil', 'Nila', 'Nilan', 'Nilanj', 'Nilanja', 'Nilanjan']

# 38. CHECK IF AN ARRAY CONTAINS ONLY UNIQUE VALUES

In [40]:
def HasUniqueValues(arr):
  return len(arr) == len(set(arr))
array = [1,2,3,4,5]
print(HasUniqueValues(array))

True

# 39. CONVERT FEET TO METERS

In [41]:
def FeetToMeters(feet):
  return feet * 0.3048
print(FeetToMeters(5))

1.524

# 40. CHECK IF A NUMBER IS A PERFECT SQUARE

In [42]:
def IsPerfectSquare(num):
  return num**0.5 == int(num**0.5)
print(IsPerfectSquare(25))

True

# 41. CHECK IF A NUMBER IS A PRIME NUMBER

In [43]:
def IsPrime(num):
  # for i in range(2, int(num**0.5) + 1):
  #   if num % i == 0:
  #     return False
  # return True
  return num > 1 and all(num % i != 0 for i in range(2, int(num**0.5) + 1))
print(IsPrime(7))

True

# 42.  GET THE LAST N ELEMENTS OF AN ARRAY

In [44]:
def LastNElements(arr, n):
  return arr[-n:]
array = [1,4,9,2,5]
print(LastNElements(array, 3))

[9, 2, 5]

# 43. CONVERT DEGREES TO RADIANS

In [45]:
import math
def DegreesToRadians(degrees):
  return degrees * math.pi / 180
print(DegreesToRadians(90))

1.5707963267948966

# 44. FIND THE INTERSECTION OF TWO ARRAYS

In [46]:
def Intersection(arr1, arr2):
  return list(set(arr1) & set(arr2))
array1 = [1,2,3,4,5]
array2 = [4,5,6,7,8]
print(Intersection(array1, array2))

[4, 5]

# 45. REMOVE WHITESPACE FROM A STRING

In [47]:
def RemoveWhitespace(string):
  return string.replace(" ", "")
print(RemoveWhitespace("Nilanjan Samanta"))

NilanjanSamanta

# 46. FIND THE DIFFERENCE BETWEEN TWO ARRAYS

In [48]:
def Difference(arr1, arr2):
  return list(set(arr1) - set(arr2))
array1 = [1,2,3,4,5]
array2 = [4,5,6,7,8]
print(Difference(array1, array2))

[1, 2, 3]

# 47. CALCULATE THE STANDARD DEVIATION OF AN ARRAY OF NUMBERS

In [49]:
import math
def StandardDeviation(arr):
  mean = sum(arr) / len(arr)
  variance = sum((x - mean) ** 2 for x in arr) / len(arr)
  return round(math.sqrt(variance),2)
  # return (variance ** 0.5)
array = [1,2,3,4,5]
print(StandardDeviation(array))

1.41

# 48. SIMPLE CALCULATOR

In [50]:
def calculator(num1, op, num2):
  return eval(f"{num1}{op}{num2}")
print(calculator(10, "+", 5))
print(calculator(10, "-", 5))
print(calculator(10, "*", 5))
print(calculator(10, "/", 5))
print(calculator(11, "%", 5))

15
5
50
2.0
1

# 49. REMOVE DUPLICATES FROM A STRING

In [51]:
def remove_duplicates(string:str) -> str:
  return ''.join(sorted(set(string), key=string.index))
print(remove_duplicates("Nilanjan"))

Nilanj

# 50. FIND THE MODE OF AN ARRAY OF NUMBERS

In [52]:
def mode(arr):
    occurrences = {}
    for num in arr:
        if num in occurrences:
            occurrences[num] += 1
        else:
            occurrences[num] = 1
    max_occurrences = max(occurrences.values())
    return [num for num, count in occurrences.items() if count == max_occurrences]

numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
print("Mode :",mode(numbers))

Mode : [4]

# 51. CHECK FOR REPDIGIT

repdigit  is composed of the same digit repeated.

In [53]:
def is_repdigit(num):
  return len(set(str(num))) == 1
print(is_repdigit(11111))

True

# 52. CAPITALIZE THE FIRST LETTER OF EACH WORD IN A STRING

In [54]:
def capitalize_words(string):
  return string.title()
string = "nilanjan samanta"
print(capitalize_words(string))

Nilanjan Samanta

# 53. REMOVE NULL VALUES FROM A LIST

In [55]:
def remove_null(arr):
  return [item for item in arr if item is not None]
array = [1,None,3,5,None, 7,None]
print(remove_null(array))

[1, 3, 5, 7]